{% extends 'base/base_agregar.html' %}

{% load crispy_forms_tags %}
{% block content %}
    <h1>
        <ion-icon name="people-outline"></ion-icon>
        Eliminar Producto
    </h1>

    <section class="contenedor-form">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}
            <div>
                <a id="btn-cancelar" href="{% url 'productosC_list' %}" class="btn-cancelar">Cancelar</a>
                <button id="btn-aceptar" type="submit" class="btn-aceptar">Eliminar</button>
            </div>
        </form>
    </section>
{% endblock %}