{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/agregar.css' %}"/>
    <title>Agregar Empleados</title>
</head>
<body>

{% block content %}

{% endblock %}

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% if messages %}
    {% for m in messages %}
        <script>
            Swal.fire({
                'title': 'Acción realizada',
                'text': '{{ m }}',
                'icon': 'success'
            })
        </script>
    {% endfor %}
{% endif %}

{% block javascript %}

{% endblock %}

</body>
</html>